<div class="container">

<p>
{{salon.id}}<br/>
{{salon.version}}<br/>
{{salon.nom}}<br/>
{{salon.description}}<br/>
{{salon.dateCreation}}<br/>
</p>
<!--<table class="table table-striped">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>Nom</th>-->
    <!--<th>Prénom</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr *ngIf="eleve.formateur">-->

    <!--<td>{{eleve.formateur.nom}}</td>-->
    <!--<td>{{eleve.formateur.prenom}}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->
<!--</div>-->

